<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;1,600&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/style11.css' %}">
    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static 'images/cat.png' %}" type="image/x-icon"/>
</head>

<body>

{% if user.is_authenticated %}
<div class="menu">
    <div class="wrap1">
        <ul>
            <li ><a href="" class="main">Пользователь: {{ user.username }}</a></li>
            <li><a href="{% url 'home' %}" class="main">Главная</a></li>
            <li><a href="{% url 'sews' %}" class="main">Добавить выкройки</a></li>
            <li >
                <form action="{% url 'logoutuser' %}" method="post">
                    {% csrf_token %}
                    <button class="main">Выйти</button>
                </form>
            </li>
        </ul>
    </div>
</div>
{% else %}
<div class="menu">
    <div class="wrap">
        <!--        <img src="{% static 'images/menu.jpg' %}" alt="sew" class="img_menu">-->
        <ul>
            <li><a href="{% url 'home' %}" class="main">Главная</a></li>
            <li><a href="{% url 'signupuser' %}" class="main">Зарегистрироваться</a></li>
            <li><a href="{% url 'loginuser' %}" class="main">Войти</a></li>
            <li><a href="{% url 'info' %}" class="main">Информация о сайте</a></li>
        </ul>
        {% endif %}
        <!--        <table class="minitable">&lt;!&ndash; форма входа        &ndash;&gt;-->
        <!--            <tr>-->
        <!--                <td><b>Добро пожаловать!</b></td>-->
        <!--            </tr>-->
        <!--            <tr>-->
        <!--                <td></td>-->
        <!--            </tr>-->
        <!--        </table>-->
        <!--        <table class="minitable">&lt;!&ndash; погода       &ndash;&gt;-->
        <!--            <tr>-->
        <!--                <td><b>Погода</b></td>-->
        <!--            </tr>-->
        <!--            <tr>-->
        <!--                <td></td>-->
        <!--            </tr>-->
        <!--        </table>-->
    </div>
</div>
<div class="content">
    <h1 class="head">Вышивалка</h1>
    <h2 class="head2">
        БЕСПЛАТНЫЕ СХЕМЫ ВЫШИВКИ И ВЯЗАНИЯ
    </h2>

    {% block content %}
    {% endblock %}


    <div class="bottom">
        <table class="menutable">
            <tr>
                <td><img src="{% static 'images/menu_arr.png' %}" alt=""><a href="" class="name_table">МЕНЮ
                    САЙТА</a><br>

                                        <img src="{% static 'images/1.png' %}" alt=""><a href="{% url 'shemi_vishivki' %}" class="tabl">Схемы вышивки</a><br>
                                        <img src="{% static 'images/2.png' %}" alt=""><a href="" class="tabl">Схемы вязания</a><br>
                                        <img src="{% static 'images/3.png' %}" alt=""><a href="" class="tabl">Книги</a><br>
                                        <img src="{% static 'images/4.png' %}" alt=""><a href="" class="tabl">Журналы</a><br>
                                        <img src="{% static 'images/5.png' %}" alt=""><a href="" class="tabl">Статьи</a><br>
                                        <img src="{% static 'images/6.png' %}" alt=""><a href="" class="tabl">Таблицы</a><br>
                                        <img src="{% static 'images/7.png' %}" alt=""><a href="" class="tabl">Калькуляторы</a><br>
                </td>
            </tr>

        </table>
        <img src="{% static 'images/first.png' %}" alt="sew" class="image">
        <img src="{% static 'images/third.png' %}" alt="sew" class="image">
    </div>


</div>


</body>
</html>