{% extends 'main_project/base.html' %}
{% load static %}
{% block content %}

<h1>Добавление файла</h1>

    <main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
<!--                <a class="backButton" href="#"><im g src="{% static 'images/second.jpg' %}" alt="left"></a>-->
                <br>

                <form class="form" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                    <!-- Input:Text -->
                    <div class="form__field">
                        <label for="formInput#text">{{ field.label }} </label>
                       {{ field }}
                    </div>
                    {% endfor %}

                    <button class="btn_search" type="submit">Добавить</button>
                </form>
            </div>
        </div>
    </main>

{% endblock %}