

{% if products.has_other_pages %}
<div class="pagination">
    <ul class="container">
        {% if products.has_previous %}
        <li class="pag btn_page_link"><a href="?page={{ products.previous_page_number }}" class="btn_page_link">&lt;</a></li>
        {% endif %}
        {% for page in paginator.page_range %}
        {% if page == products.number %}
        <li class="pag btn--sub"><a href="?page={{ page }}" class=" btn_page_link">{{ page }}</a></li>
        {% else %}
        <li class="pag btn_page_link"><a href="?page={{ page }}" class="btn_page_link">{{ page }}</a></li>
        {% endif %}
        {% endfor %}
        {% if products.has_next %}
        <li class="pag btn_page_link"><a href="?page={{ products.next_page_number }}" class="btn_page_link">&gt;</a></li>
        {% endif %}

    </ul>
</div>
{% endif %}