{% extends 'main_project/base.html' %}
{% load static %}
{% block content %}
<div class="content">
    <h2 class="title">Символы (значки) на схемах вязания крючком</h2>
    <hr>
    <p class="text">Поскольку названия пряж разной плотности отличаются в разных странах-производителях или у разных
        фирм-производителей, всеамериканский совет производителей пряжи составил систему стандартов плотности.
        Посмотрите на
        этикетку вашего мотка пряжи. Там могут быть цифры от 0 до 6 — это самая распространенная маркировка плотности
        пряжи.
        Плотность дана из расчета на 10 см чулочной вязки.</p>
    <hr>
    <img src="{% static 'images/simvoly_na_skhemakh_vjazanija_krjuchkom.jpg' %}" alt="" class="content_img">
    <p class="text">* Как рекомендация: обозначенные выше виды — наиболее часто используемые плотность пряж и размер спиц и крючков
        для определенных категорий пряжи. <br>

        ** Суперлегкие пряжи обычно вяжутся крупными спицами или крючком, чтобы добиться ажурного полотна.
        Соответственно, плотность трудно определить. Всегда следуйте указаниям в раппорте конкретного проекта.<br>

        *** Стальные крючки измеряются отлично от обычных крючков — чем выше номер, тем меньше крючок. У других крючков
        наоборот.<br></p>
    <hr>
<h2 class="content_h2">Таблица плотности пряжи</h2>
    <hr>
    <img src="{% static 'images/tablica_plotnosti_prjazhi.jpg' %}" alt="" class="content_img">
    <hr>
<h2 class="content_h2">Соответсвие размеров крючков размеру пряжи (нитей)</h2>
    <hr>
    <img src="{% static 'images/sotvetsvie_razmerov_krjuchkov_razmeru_prjazhi-nite.jpg' %}" alt="" class="content_img">
</div>
<div>
    <a href="{% url 'table_muline' %}" class="main2">Таблицы перевода цветов ниток мулине</a></div>

{% endblock %}